<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        {% block javascript %}
            <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            {% include "trial.js" %}
        </script>
        {% endblock %}
    </head>
    <body>
        <h1>Flask-SocketIO-Chat: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        
        <!-- TODO: isReceiver() -->
        <h2>Receiver</h2>
        <div id="trial-config">
            Traffic load (G, packets/minute) <input type="number" id="traffic-load"><br>
            Trial duration (minutes) <input type="number" id="trial-duration"><br>
        </div>
        <div id="receiver-actions">
            <button class="btn startstop" onclick="start_trial(true)">Start trial</button>
        </div>

        <!-- TODO: isClient() -->
        <h2>Client actions</h2>
        <button class="btn ready" onclick="trial_ready(true)">Ready</button>
        <button class="btn ack" onclick="packet_ack(true)">Success</button>
        <button class="btn nack" onclick="packet_ack(false)">Fail</button>
        
        <a href="#" onclick="leave_room();">Leave this trial</a>
    </body>
</html>
